In [15]:
import pandas as pd
import numpy as np
import time
import re
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys

In [16]:
driver = webdriver.Firefox()

In [17]:
driver.get("https://www.wozwaardeloket.nl/")

In [18]:
print(driver.title)

WOZ-waardeloket

In [19]:
#klik op het accepteren van de voorwaarden
driver.find_element_by_css_selector('#accept > fieldset > input.ui-button.ui-widget.ui-state-default.ui-corner-all').click()

In [20]:


def findWOZ(address):
    date_element = driver.find_element_by_css_selector('#zoeklocatie')
    date_element.click()
    date_element.clear()
    date_element.send_keys(address)
    
    Zoeken_button = driver.find_element_by_css_selector('#zoeklocatieSubmit')
    Zoeken_button.click()
    time.sleep(4)
    
    WOZ_table = driver.find_element_by_css_selector('#polygoon_wozwaarde_table')
    WOZText= WOZ_table.get_attribute("outerHTML")
    WOZText = BeautifulSoup(WOZText, 'html.parser')
    
    gebruik_table = driver.find_element_by_css_selector('#polygoon_gebruik_table')
    gebruikText = gebruik_table.get_attribute("outerHTML")
    gebruikText = BeautifulSoup(gebruikText, 'html.parser')
    
    WOZText_result = []

    for i,value in enumerate(WOZText.find_all('td')):
        if int(i/2) != i/2:
            WOZText_result.append(value.get_text())
    
    print(address)
    print(WOZText)

    return WOZText_result

In [21]:
adressen = pd.read_excel('contacts_cleaned.xlsx')

In [22]:
adressen

                        Naam             Adres
0               Emma  Hers√©e  1055 NC, 378 III
1           Joren  Kreuzberg     1072 EG, 129H
2            Nanda  Pluijter     1059 VV, 5/hs
3            Paul  Langelaan       2353 VC, 19
4            Marijn  Lansink     1055 CJ, 58-2
5            Reanne  Richter        3531 HT, 3
6           Jenneke  Bijpost      2628 XZ, 132
7             Emile  Kragten    3553 RC, 4 bis
8                 Ron  Evers       6862 ZG, 6A
9           Angelique  Buist       2132 NZ, 55
10            Jochem  Jansen    1057 JS, 43128
11            Beppie  Muller       3448 JS, 10
12           Ramon  Bettings      1102 SC, 260
13         Liselotte  Siteur       3818 VB, 55
14           Mark  Boerekamp       1215 JN, 61
15              Aram  Griens      3011 HB, 81C
16            Andre  Ribeiro       1058 GD, 53
17              Joost  Petit       3734 JH, 29
18     Michiel  van der Werf    1079 BS, 69-HS
19            Nicole  Wolzak       3604 BE, 35
20           Iris  Snuverink      2522 NH, 104
21             Eelke  Visser        3521 DA, 9
22             Jeroen  Twigt       2811 SP, 13
23         Alexander  Klaver    1011 HS, 47 hs
24       Berdine  Heesterman       3512 PS, 14
25        Rinke Klein Entink        2391 EG, 3
26            Perry  Hansler       2312 NV, 28
27      Maartje  van 't Riet        3572 EJ, 3
28        Michelle  Bentlage    1079 JV, 176-2
29        Tobias  Platenburg       1091 NC, 24
..                       ...               ...
98           Ronald  Tamboer        3711 BZ, 7
99         Robin  van Wankum       3731 JA, 21
100          Robert  Spieker    1077 RJ, 30 HS
101        Renaldo  Haurissa       3437 DK, 32
102             Peter  Hardy    1075 RW, 43167
103         Patrick  Newland       3543 EN, 95
104       Martijn  Hogenelst       1213 SJ, 12
105       Marcel  Krekelberg       3452 BD, 19
106           Marcel  H√§lsig        3553 TA, 5
107         Laura  Schreuder       3446 ZT, 46
108         Josefine  Tesser        3446 JL, 3
109          Johan  Makkinga      3708 GC, 57B
110         Jasper  van Rijn       3533 HZ, 19
111  Jan Pieter van der Helm       2025 ZB, 71
112      Jan  van Hasenbroek        2242 PL, 6
113            Jan  Berkvens       4927 RJ, 20
114            Jaap  Hoekman       1154 PS, 33
115        Hugo  van Vledder     3401 NZ, 116b
116         Hanny  Kastelein       3465 JJ, 24
117            Freek  Jansen        6813 HA, 9
118              Frans  Liem        1405 BK, 1
119           Frans  Kneefel        3446 DH, 5
120          Floris  Limburg      2989 AR, 342
121          Egbert  Baarsma       6822 NA, 33
122        Chris  van Winden       2741 KM, 12
123           Carsten  Treur  5616 VD, 143-329
124          Bob  van Opstal      1018 MZ, 148
125             Bas  de Jong       3971 CR, 21
126        Bart  van Sambeek        3442 HA, 5
127             Cris  Meijer       1191 PC, 23

[128 rows x 2 columns]

In [23]:
type(adressen)

pandas.core.frame.DataFrame

In [24]:
uitwaarden = []

for index, row in adressen.iterrows():
    print (row["Naam"], row["Adres"])
    Adres = row["Adres"]
    try:
        WOZText = findWOZ(Adres)
    except Exception as e:
        print(e)
        driver.close()
        driver = webdriver.Firefox()
        driver.get("https://www.wozwaardeloket.nl/")
        driver.find_element_by_css_selector('#accept > fieldset > input.ui-button.ui-widget.ui-state-default.ui-corner-all').click()
        WOZText = findWOZ(Adres)
        
    result = (row["Naam"], Adres, WOZText)
    print(result)
    uitwaarden.append((row["Naam"], Adres, WOZText))

Emma  Hers√©e 1055 NC, 378 III
1055 NC, 378 III
<table class="detailstable hidden dataTable no-footer" id="polygoon_wozwaarde_table" role="grid">
<thead><tr role="row"><th aria-controls="polygoon_wozwaarde_table" aria-label="Peildatum: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" tabindex="-1">Peildatum</th><th aria-controls="polygoon_wozwaarde_table" aria-label="WOZ-waarde: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" tabindex="-1">WOZ-waarde</th></tr></thead><tbody><tr class="odd"><td class="dataTables_empty" colspan="2" valign="top">No data available in table</td></tr></tbody></table>
('Emma  Hers√©e', '1055 NC, 378 III', [])
Joren  Kreuzberg 1072 EG, 129H
1072 EG, 129H
<table class="detailstable dataTable no-footer" id="polygoon_wozwaarde_table" role="grid">
<thead><tr role="row"><th aria-controls="polygoon_wozwaarde_table" aria-label="Peildatum: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" tabindex="-1">Peildatum</th><th aria-controls="polygoon_wozwaarde_table" aria-label="WOZ-waarde: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" tabindex="-1">WOZ-waarde</th></tr></thead><tbody><tr class="odd" role="row"><td class="sorting_1">01-01-2017</td><td>332.000 euro</td></tr><tr class="even" role="row"><td class="sorting_1">01-01-2016</td><td>284.500 euro</td></tr><tr class="odd" role="row"><td class="sorting_1">01-01-2015</td><td>231.000 euro</td></tr></tbody></table>
('Joren  Kreuzberg', '1072 EG, 129H', ['332.000 euro', '284.500 euro', '231.000 euro'])
Nanda  Pluijter 1059 VV, 5/hs
1059 VV, 5/hs
<table class="detailstable dataTable no-footer" id="polygoon_wozwaarde_table" role="grid">
<thead><tr role="row"><th aria-controls="polygoon_wozwaarde_table" aria-label="Peildatum: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" tabindex="-1">Peildatum</th><th aria-controls="polygoon_wozwaarde_table" aria-label="WOZ-waarde: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" tabindex="-1">WOZ-waarde</th></tr></thead><tbody><tr class="odd" role="row"><td class="sorting_1">01-01-2017</td><td>332.000 euro</td></tr><tr class="even" role="row"><td class="sorting_1">01-01-2016</td><td>284.500 euro</td></tr><tr class="odd" role="row"><td class="sorting_1">01-01-2015</td><td>231.000 euro</td></tr></tbody></table>
('Nanda  Pluijter', '1059 VV, 5/hs', ['332.000 euro', '284.500 euro', '231.000 euro'])
Paul  Langelaan 2353 VC, 19
2353 VC, 19
<table class="detailstable dataTable no-footer" id="polygoon_wozwaarde_table" role="grid">
<thead><tr role="row"><th aria-controls="polygoon_wozwaarde_table" aria-label="Peildatum: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" tabindex="-1">Peildatum</th><th aria-controls="polygoon_wozwaarde_table" aria-label="WOZ-waarde: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" tabindex="-1">WOZ-waarde</th></tr></thead><tbody><tr class="odd" role="row"><td class="sorting_1">01-01-2017</td><td>261.000 euro</td></tr><tr class="even" role="row"><td class="sorting_1">01-01-2016</td><td>241.000 euro</td></tr><tr class="odd" role="row"><td class="sorting_1">01-01-2015</td><td>238.000 euro</td></tr></tbody></table>
('Paul  Langelaan', '2353 VC, 19', ['261.000 euro', '241.000 euro', '238.000 euro'])
Marijn  Lansink 1055 CJ, 58-2
1055 CJ, 58-2
<table class="detailstable dataTable no-footer" id="polygoon_wozwaarde_table" role="grid">
<thead><tr role="row"><th aria-controls="polygoon_wozwaarde_table" aria-label="Peildatum: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" tabindex="-1">Peildatum</th><th aria-controls="polygoon_wozwaarde_table" aria-label="WOZ-waarde: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" tabindex="-1">WOZ-waarde</th></tr></thead><tbody><tr class="odd" role="row"><td class="sorting_1">01-01-2017</td><td>272.000 euro</td></tr><tr class="even" role="row"><td class="sorting_1">01-01-2016</td><td>239.500 euro</td></tr><tr class="odd" role="row"><td class="sorting_1">01-01-2015</td><td>171.500 euro</td></tr></tbody></table>
('Marijn  Lansink', '1055 CJ, 58-2', ['272.000 euro', '239.500 euro', '171.500 euro'])
Reanne  Richter 3531 HT, 3
3531 HT, 3
<table class="detailstable dataTable no-footer" id="polygoon_wozwaarde_table" role="grid">
<thead><tr role="row"><th aria-controls="polygoon_wozwaarde_table" aria-label="Peildatum: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" tabindex="-1">Peildatum</th><th aria-controls="polygoon_wozwaarde_table" aria-label="WOZ-waarde: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" tabindex="-1">WOZ-waarde</th></tr></thead><tbody><tr class="odd" role="row"><td class="sorting_1">01-01-2017</td><td>272.000 euro</td></tr><tr class="even" role="row"><td class="sorting_1">01-01-2016</td><td>239.500 euro</td></tr><tr class="odd" role="row"><td class="sorting_1">01-01-2015</td><td>171.500 euro</td></tr></tbody></table>
('Reanne  Richter', '3531 HT, 3', ['272.000 euro', '239.500 euro', '171.500 euro'])
Jenneke  Bijpost 2628 XZ, 132
2628 XZ, 132
<table class="detailstable dataTable no-footer" id="polygoon_wozwaarde_table" role="grid">
<thead><tr role="row"><th aria-controls="polygoon_wozwaarde_table" aria-label="Peildatum: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" tabindex="-1">Peildatum</th><th aria-controls="polygoon_wozwaarde_table" aria-label="WOZ-waarde: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" tabindex="-1">WOZ-waarde</th></tr></thead><tbody><tr class="odd" role="row"><td class="sorting_1">01-01-2017</td><td>272.000 euro</td></tr><tr class="even" role="row"><td class="sorting_1">01-01-2016</td><td>239.500 euro</td></tr><tr class="odd" role="row"><td class="sorting_1">01-01-2015</td><td>171.500 euro</td></tr></tbody></table>
('Jenneke  Bijpost', '2628 XZ, 132', ['272.000 euro', '239.500 euro', '171.500 euro'])
Emile  Kragten 3553 RC, 4 bis
3553 RC, 4 bis
<table class="detailstable dataTable no-footer" id="polygoon_wozwaarde_table" role="grid">
<thead><tr role="row"><th aria-controls="polygoon_wozwaarde_table" aria-label="Peildatum: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" tabindex="-1">Peildatum</th><th aria-controls="polygoon_wozwaarde_table" aria-label="WOZ-waarde: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" tabindex="-1">WOZ-waarde</th></tr></thead><tbody><tr class="odd" role="row"><td class="sorting_1">01-01-2017</td><td>143.000 euro</td></tr><tr class="even" role="row"><td class="sorting_1">01-01-2016</td><td>141.000 euro</td></tr><tr class="odd" role="row"><td class="sorting_1">01-01-2015</td><td>126.000 euro</td></tr></tbody></table>
('Emile  Kragten', '3553 RC, 4 bis', ['143.000 euro', '141.000 euro', '126.000 euro'])
Ron  Evers 6862 ZG, 6A
6862 ZG, 6A
<table class="detailstable dataTable no-footer" id="polygoon_wozwaarde_table" role="grid">
<thead><tr role="row"><th aria-controls="polygoon_wozwaarde_table" aria-label="Peildatum: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" tabindex="-1">Peildatum</th><th aria-controls="polygoon_wozwaarde_table" aria-label="WOZ-waarde: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" tabindex="-1">WOZ-waarde</th></tr></thead><tbody><tr class="odd" role="row"><td class="sorting_1">01-01-2017</td><td>526.000 euro</td></tr><tr class="even" role="row"><td class="sorting_1">01-01-2016</td><td>497.000 euro</td></tr><tr class="odd" role="row"><td class="sorting_1">01-01-2015</td><td>490.000 euro</td></tr></tbody></table>
('Ron  Evers', '6862 ZG, 6A', ['526.000 euro', '497.000 euro', '490.000 euro'])
Angelique  Buist 2132 NZ, 55
2132 NZ, 55
<table class="detailstable dataTable no-footer" id="polygoon_wozwaarde_table" role="grid">
<thead><tr role="row"><th aria-controls="polygoon_wozwaarde_table" aria-label="Peildatum: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" tabindex="-1">Peildatum</th><th aria-controls="polygoon_wozwaarde_table" aria-label="WOZ-waarde: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" tabindex="-1">WOZ-waarde</th></tr></thead><tbody><tr class="odd" role="row"><td class="sorting_1">01-01-2017</td><td>383.000 euro</td></tr><tr class="even" role="row"><td class="sorting_1">01-01-2016</td><td>305.000 euro</td></tr><tr class="odd" role="row"><td class="sorting_1">01-01-2015</td><td>300.000 euro</td></tr></tbody></table>
('Angelique  Buist', '2132 NZ, 55', ['383.000 euro', '305.000 euro', '300.000 euro'])
Jochem  Jansen 1057 JS, 43128
1057 JS, 43128
<table class="detailstable dataTable no-footer" id="polygoon_wozwaarde_table" role="grid">
<thead><tr role="row"><th aria-controls="polygoon_wozwaarde_table" aria-label="Peildatum: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" tabindex="-1">Peildatum</th><th aria-controls="polygoon_wozwaarde_table" aria-label="WOZ-waarde: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" tabindex="-1">WOZ-waarde</th></tr></thead><tbody><tr class="odd" role="row"><td class="sorting_1">01-01-2017</td><td>383.000 euro</td></tr><tr class="even" role="row"><td class="sorting_1">01-01-2016</td><td>305.000 euro</td></tr><tr class="odd" role="row"><td class="sorting_1">01-01-2015</td><td>300.000 euro</td></tr></tbody></table>
('Jochem  Jansen', '1057 JS, 43128', ['383.000 euro', '305.000 euro', '300.000 euro'])
Beppie  Muller 3448 JS, 10
3448 JS, 10
<table class="detailstable dataTable no-footer" id="polygoon_wozwaarde_table" role="grid">
<thead><tr role="row"><th aria-controls="polygoon_wozwaarde_table" aria-label="Peildatum: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" tabindex="-1">Peildatum</th><th aria-controls="polygoon_wozwaarde_table" aria-label="WOZ-waarde: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" tabindex="-1">WOZ-waarde</th></tr></thead><tbody><tr class="odd" role="row"><td class="sorting_1">01-01-2017</td><td>253.000 euro</td></tr><tr class="even" role="row"><td class="sorting_1">01-01-2016</td><td>254.000 euro</td></tr><tr class="odd" role="row"><td class="sorting_1">01-01-2015</td><td>248.000 euro</td></tr></tbody></table>
('Beppie  Muller', '3448 JS, 10', ['253.000 euro', '254.000 euro', '248.000 euro'])
Ramon  Bettings 1102 SC, 260
1102 SC, 260
<table class="detailstable dataTable no-footer" id="polygoon_wozwaarde_table" role="grid">
<thead><tr role="row"><th aria-controls="polygoon_wozwaarde_table" aria-label="Peildatum: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" tabindex="-1">Peildatum</th><th aria-controls="polygoon_wozwaarde_table" aria-label="WOZ-waarde: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" tabindex="-1">WOZ-waarde</th></tr></thead><tbody><tr class="odd" role="row"><td class="sorting_1">01-01-2017</td><td>128.000 euro</td></tr><tr class="even" role="row"><td class="sorting_1">01-01-2016</td><td>94.500 euro</td></tr><tr class="odd" role="row"><td class="sorting_1">01-01-2015</td><td>98.500 euro</td></tr></tbody></table>
('Ramon  Bettings', '1102 SC, 260', ['128.000 euro', '94.500 euro', '98.500 euro'])
Liselotte  Siteur 3818 VB, 55
3818 VB, 55
<table class="detailstable dataTable no-footer" id="polygoon_wozwaarde_table" role="grid">
<thead><tr role="row"><th aria-controls="polygoon_wozwaarde_table" aria-label="Peildatum: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" tabindex="-1">Peildatum</th><th aria-controls="polygoon_wozwaarde_table" aria-label="WOZ-waarde: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" tabindex="-1">WOZ-waarde</th></tr></thead><tbody><tr class="odd" role="row"><td class="sorting_1">01-01-2017</td><td>715.000 euro</td></tr><tr class="even" role="row"><td class="sorting_1">01-01-2016</td><td>609.000 euro</td></tr><tr class="odd" role="row"><td class="sorting_1">01-01-2015</td><td>579.000 euro</td></tr></tbody></table>
('Liselotte  Siteur', '3818 VB, 55', ['715.000 euro', '609.000 euro', '579.000 euro'])
Mark  Boerekamp 1215 JN, 61
1215 JN, 61
<table class="detailstable dataTable no-footer" id="polygoon_wozwaarde_table" role="grid">
<thead><tr role="row"><th aria-controls="polygoon_wozwaarde_table" aria-label="Peildatum: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" tabindex="-1">Peildatum</th><th aria-controls="polygoon_wozwaarde_table" aria-label="WOZ-waarde: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" tabindex="-1">WOZ-waarde</th></tr></thead><tbody><tr class="odd" role="row"><td class="sorting_1">01-01-2017</td><td>779.000 euro</td></tr><tr class="even" role="row"><td class="sorting_1">01-01-2016</td><td>765.000 euro</td></tr><tr class="odd" role="row"><td class="sorting_1">01-01-2015</td><td>746.000 euro</td></tr></tbody></table>
('Mark  Boerekamp', '1215 JN, 61', ['779.000 euro', '765.000 euro', '746.000 euro'])
Aram  Griens 3011 HB, 81C
3011 HB, 81C
<table class="detailstable dataTable no-footer" id="polygoon_wozwaarde_table" role="grid">
<thead><tr role="row"><th aria-controls="polygoon_wozwaarde_table" aria-label="Peildatum: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" tabindex="-1">Peildatum</th><th aria-controls="polygoon_wozwaarde_table" aria-label="WOZ-waarde: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" tabindex="-1">WOZ-waarde</th></tr></thead><tbody><tr class="odd" role="row"><td class="sorting_1">01-01-2017</td><td>162.000 euro</td></tr><tr class="even" role="row"><td class="sorting_1">01-01-2016</td><td>159.000 euro</td></tr><tr class="odd" role="row"><td class="sorting_1">01-01-2015</td><td>157.000 euro</td></tr></tbody></table>
('Aram  Griens', '3011 HB, 81C', ['162.000 euro', '159.000 euro', '157.000 euro'])
Andre  Ribeiro 1058 GD, 53
1058 GD, 53
<table class="detailstable dataTable no-footer" id="polygoon_wozwaarde_table" role="grid">
<thead><tr role="row"><th aria-controls="polygoon_wozwaarde_table" aria-label="Peildatum: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" tabindex="-1">Peildatum</th><th aria-controls="polygoon_wozwaarde_table" aria-label="WOZ-waarde: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" tabindex="-1">WOZ-waarde</th></tr></thead><tbody><tr class="odd" role="row"><td class="sorting_1">01-01-2017</td><td>408.000 euro</td></tr><tr class="even" role="row"><td class="sorting_1">01-01-2015</td><td>346.000 euro</td></tr></tbody></table>
('Andre  Ribeiro', '1058 GD, 53', ['408.000 euro', '346.000 euro'])
Joost  Petit 3734 JH, 29
3734 JH, 29
<table class="detailstable dataTable no-footer" id="polygoon_wozwaarde_table" role="grid">
<thead><tr role="row"><th aria-controls="polygoon_wozwaarde_table" aria-label="Peildatum: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" tabindex="-1">Peildatum</th><th aria-controls="polygoon_wozwaarde_table" aria-label="WOZ-waarde: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" tabindex="-1">WOZ-waarde</th></tr></thead><tbody><tr class="odd" role="row"><td class="sorting_1">01-01-2017</td><td>511.000 euro</td></tr><tr class="even" role="row"><td class="sorting_1">01-01-2016</td><td>515.000 euro</td></tr><tr class="odd" role="row"><td class="sorting_1">01-01-2015</td><td>451.000 euro</td></tr></tbody></table>
('Joost  Petit', '3734 JH, 29', ['511.000 euro', '515.000 euro', '451.000 euro'])
Michiel  van der Werf 1079 BS, 69-HS
1079 BS, 69-HS
<table class="detailstable dataTable no-footer" id="polygoon_wozwaarde_table" role="grid">
<thead><tr role="row"><th aria-controls="polygoon_wozwaarde_table" aria-label="Peildatum: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" tabindex="-1">Peildatum</th><th aria-controls="polygoon_wozwaarde_table" aria-label="WOZ-waarde: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" tabindex="-1">WOZ-waarde</th></tr></thead><tbody><tr class="odd" role="row"><td class="sorting_1">01-01-2017</td><td>511.000 euro</td></tr><tr class="even" role="row"><td class="sorting_1">01-01-2016</td><td>515.000 euro</td></tr><tr class="odd" role="row"><td class="sorting_1">01-01-2015</td><td>451.000 euro</td></tr></tbody></table>
('Michiel  van der Werf', '1079 BS, 69-HS', ['511.000 euro', '515.000 euro', '451.000 euro'])
Nicole  Wolzak 3604 BE, 35
3604 BE, 35
<table class="detailstable dataTable no-footer" id="polygoon_wozwaarde_table" role="grid">
<thead><tr role="row"><th aria-controls="polygoon_wozwaarde_table" aria-label="Peildatum: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" tabindex="-1">Peildatum</th><th aria-controls="polygoon_wozwaarde_table" aria-label="WOZ-waarde: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" tabindex="-1">WOZ-waarde</th></tr></thead><tbody><tr class="odd" role="row"><td class="sorting_1">01-01-2017</td><td>539.000 euro</td></tr><tr class="even" role="row"><td class="sorting_1">01-01-2016</td><td>489.000 euro</td></tr><tr class="odd" role="row"><td class="sorting_1">01-01-2015</td><td>506.000 euro</td></tr></tbody></table>
('Nicole  Wolzak', '3604 BE, 35', ['539.000 euro', '489.000 euro', '506.000 euro'])
Iris  Snuverink 2522 NH, 104
2522 NH, 104
<table class="detailstable dataTable no-footer hidden" id="polygoon_wozwaarde_table" role="grid">
<thead><tr role="row"><th aria-controls="polygoon_wozwaarde_table" aria-label="Peildatum: activate to sort column ascending" aria-sort="descending" class="sorting_desc" colspan="1" rowspan="1" tabindex="-1">Peildatum</th><th aria-controls="polygoon_wozwaarde_table" aria-label="WOZ-waarde: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" tabindex="-1">WOZ-waarde</th></tr></thead><tbody><tr class="odd" role="row"><td class="sorting_1">01-01-2017</td><td>539.000 euro</td></tr><tr class="even" role="row"><td class="sorting_1">01-01-2016</td><td>489.000 euro</td></tr><tr class="odd" role="row"><td class="sorting_1">01-01-2015</td><td>506.000 euro</td></tr></tbody></table>
('Iris  Snuverink', '2522 NH, 104', ['539.000 euro', '489.000 euro', '506.000 euro'])
Eelke  Visser 3521 DA, 9
Message: Element <input id="zoeklocatie" type="text"> is not clickable at point (144.66665649414062,173.53334045410156) because another element <div id="window_overlay"> obscures it

3521 DA, 9
<table class="detailstable dataTable no-footer" id="polygoon_wozwaarde_table" role="grid">

In [25]:
uitwaarden

[('Emma  Hers√©e', '1055 NC, 378 III', []),
 ('Joren  Kreuzberg',
  '1072 EG, 129H',
  ['332.000 euro', '284.500 euro', '231.000 euro']),
 ('Nanda  Pluijter',
  '1059 VV, 5/hs',
  ['332.000 euro', '284.500 euro', '231.000 euro']),
 ('Paul  Langelaan',
  '2353 VC, 19',
  ['261.000 euro', '241.000 euro', '238.000 euro']),
 ('Marijn  Lansink',
  '1055 CJ, 58-2',
  ['272.000 euro', '239.500 euro', '171.500 euro']),
 ('Reanne  Richter',
  '3531 HT, 3',
  ['272.000 euro', '239.500 euro', '171.500 euro']),
 ('Jenneke  Bijpost',
  '2628 XZ, 132',
  ['272.000 euro', '239.500 euro', '171.500 euro']),
 ('Emile  Kragten',
  '3553 RC, 4 bis',
  ['143.000 euro', '141.000 euro', '126.000 euro']),
 ('Ron  Evers',
  '6862 ZG, 6A',
  ['526.000 euro', '497.000 euro', '490.000 euro']),
 ('Angelique  Buist',
  '2132 NZ, 55',
  ['383.000 euro', '305.000 euro', '300.000 euro']),
 ('Jochem  Jansen',
  '1057 JS, 43128',
  ['383.000 euro', '305.000 euro', '300.000 euro']),
 ('Beppie  Muller',
  '3448 JS, 10',
  ['253.000 euro', '254.000 euro', '248.000 euro']),
 ('Ramon  Bettings',
  '1102 SC, 260',
  ['128.000 euro', '94.500 euro', '98.500 euro']),
 ('Liselotte  Siteur',
  '3818 VB, 55',
  ['715.000 euro', '609.000 euro', '579.000 euro']),
 ('Mark  Boerekamp',
  '1215 JN, 61',
  ['779.000 euro', '765.000 euro', '746.000 euro']),
 ('Aram  Griens',
  '3011 HB, 81C',
  ['162.000 euro', '159.000 euro', '157.000 euro']),
 ('Andre  Ribeiro', '1058 GD, 53', ['408.000 euro', '346.000 euro']),
 ('Joost  Petit',
  '3734 JH, 29',
  ['511.000 euro', '515.000 euro', '451.000 euro']),
 ('Michiel  van der Werf',
  '1079 BS, 69-HS',
  ['511.000 euro', '515.000 euro', '451.000 euro']),
 ('Nicole  Wolzak',
  '3604 BE, 35',
  ['539.000 euro', '489.000 euro', '506.000 euro']),
 ('Iris  Snuverink',
  '2522 NH, 104',
  ['539.000 euro', '489.000 euro', '506.000 euro']),
 ('Eelke  Visser',
  '3521 DA, 9',
  ['307.000 euro', '301.000 euro', '260.000 euro']),
 ('Jeroen  Twigt',
  '2811 SP, 13',
  ['454.000 euro', '402.000 euro', '403.000 euro']),
 ('Alexander  Klaver',
  '1011 HS, 47 hs',
  ['454.000 euro', '402.000 euro', '403.000 euro']),
 ('Berdine  Heesterman',
  '3512 PS, 14',
  ['454.000 euro', '402.000 euro', '403.000 euro']),
 ('Rinke Klein Entink',
  '2391 EG, 3',
  ['325.000 euro', '315.000 euro', '311.000 euro']),
 ('Perry  Hansler',
  '2312 NV, 28',
  ['102.000 euro', '98.000 euro', '93.000 euro']),
 ("Maartje  van 't Riet",
  '3572 EJ, 3',
  ['102.000 euro', '98.000 euro', '93.000 euro']),
 ('Michelle  Bentlage',
  '1079 JV, 176-2',
  ['295.000 euro', '236.000 euro', '211.500 euro']),
 ('Tobias  Platenburg',
  '1091 NC, 24',
  ['357.000 euro', '323.000 euro', '269.000 euro']),
 ('Christel  van den Hoek',
  '3039 DM, 76B',
  ['153.000 euro', '147.000 euro', '135.000 euro']),
 ('Lars  van Kempen', '3063 BV, 310', ['7.647.000 euro', '7.318.000 euro']),
 ('Agata  Michalaszek',
  '1058 GA, 137',
  ['551.500 euro', '463.000 euro', '364.500 euro']),
 ('Zonne  Hol',
  '3645 EB, 47',
  ['551.500 euro', '463.000 euro', '364.500 euro']),
 ('Rogier  Stuyver',
  '3531 KV, 17B',
  ['154.000 euro', '143.000 euro', '131.000 euro']),
 ('Mats  de Vries',
  '3554 XT, 76',
  ['154.000 euro', '143.000 euro', '131.000 euro']),
 ('Jasper  Zaar',
  '1054 MG, 147-3',
  ['283.000 euro', '240.500 euro', '215.500 euro']),
 ('Marcel  Kuiper',
  '3514 BR, 28',
  ['475.000 euro', '434.000 euro', '223.000 euro']),
 ('Timo  Zonneveld',
  '1121 DK, 5',
  ['364.000 euro', '372.000 euro', '353.500 euro']),
 ('Rosa  Huiskamp',
  '2312 XB, 79',
  ['397.000 euro', '358.000 euro', '348.000 euro']),
 ('Adrian  Ottenhoff',
  '1381 AG, 29',
  ['423.000 euro', '417.000 euro', '361.000 euro']),
 ('Gerwin  Woelders',
  '8043 EG, 71',
  ['239.000 euro', '217.000 euro', '206.000 euro']),
 ('Luuk  Versluis',
  '3571 EL, 63',
  ['503.000 euro', '459.000 euro', '366.000 euro']),
 ('Bianca  Akkermans',
  '2316 ZG, 41',
  ['153.000 euro', '146.000 euro', '141.000 euro']),
 ('Niels  Roelofs',
  '1055 MX, 3201',
  ['246.000 euro', '207.000 euro', '171.500 euro']),
 ('Christel  Blom',
  '3552 HM, 332',
  ['185.000 euro', '161.000 euro', '156.000 euro']),
 ('Lisa klein Goldewijk',
  '2023 DK, 88 rd',
  ['304.000 euro', '262.000 euro', '238.000 euro']),
 ('Erik  Aaftink',
  '3512 JS, 18',
  ['304.000 euro', '262.000 euro', '238.000 euro']),
 ('Sjoerd  Norden',
  '3513 TH, 194',
  ['344.000 euro', '303.000 euro', '293.000 euro']),
 ('Jorrit  Thijsse',
  '3571 GK, 76',
  ['577.000 euro', '541.000 euro', '420.000 euro']),
 ('Jannie  Roos',
  '3461 HG, 16',
  ['195.000 euro', '183.000 euro', '184.000 euro']),
 ('Joanneke  Meijer',
  '3523 RC, 10',
  ['195.000 euro', '183.000 euro', '184.000 euro']),
 ('Laura  van Leeuwen', '3512 NN, 7', ['902.000 euro', '445.000 euro']),
 ('Klaske  Visser', '9725 GS, 68', ['101.000 euro', '98.000 euro']),
 ('Joris  de Bruin', '6835 GL, 945-9', ['191.000 euro', '153.000 euro']),
 ('Peternille  Dekker',
  '3512 AX, 26',
  ['131.000 euro', '118.000 euro', '125.000 euro']),
 ('Maren  Schaatsbergen',
  '1433 GN, 158',
  ['1.398.000 euro', '1.320.000 euro']),
 ('Derk  Bouwman', '3015 XL, 45A', ['156.000 euro', '146.000 euro']),
 ('Evelien  Kip', '3522 SE, 121', ['156.000 euro', '146.000 euro']),
 ('Joost  Verver', '2596 VH, 86', ['156.000 euro', '146.000 euro']),
 ('Myrthe  van Hoek', '3526 KS, 220 E', []),
 ('Niels  de Brabander', '3513 TH, 86', []),
 ('Lieke  Berentschot', '3991 MS, 87', []),
 ('Robin  van der Pols', '3039 PT, 6c', []),
 ('Merel  Koster-Broek', '3522 GG, 69', []),
 ('Erik  van Montfrans', '3136 LS, 61', []),
 ('Linda  de Jong', '3513 CB, 45 BIS', []),
 ('Bart  van Eijden', '3532 EM, 22', []),
 ('Anouk  Baars',
  '1091 GZ, 159',
  ['387.000 euro', '345.500 euro', '292.500 euro']),
 ('Koen  Oudehand', '1095 AK, 436', ['398.000 euro', '366.500 euro']),
 ('Timothy  Prescott', '1094 CB, 2-E', ['412.000 euro', '334.000 euro']),
 ('Pieter  Ysbrandy',
  '1243 JE, 8',
  ['452.000 euro', '431.000 euro', '423.000 euro']),
 ('Nicole  Bakker',
  '3063 AK, 75',
  ['452.000 euro', '431.000 euro', '423.000 euro']),
 ('Jean Paul Hokke',
  '2061 GR, 6',
  ['1.184.000 euro', '1.070.000 euro', '1.057.000 euro']),
 ('Remon  Balster', '3871 MX, 22', []),
 ('Bram  Raatjes',
  '3543 EC, 311',
  ['216.000 euro', '199.000 euro', '195.000 euro']),
 ('Daan  Eickmans',
  '1052 KH, 96 D-HS',
  ['216.000 euro', '199.000 euro', '195.000 euro']),
 ('Roos  Blankena',
  '3523 JB, 3',
  ['216.000 euro', '199.000 euro', '195.000 euro']),
 ('Jorien  Weerdenburg',
  '2801 NL, 6',
  ['477.000 euro', '454.000 euro', '459.000 euro']),
 ('Femke  Keijzer',
  '3573 ST, 23',
  ['607.000 euro', '548.000 euro', '398.000 euro']),
 ('Roel  Palmen',
  '4811 WN, 11-b',
  ['607.000 euro', '548.000 euro', '398.000 euro']),
 ('Bram  Gilliam',
  '1078 HC, 35',
  ['607.000 euro', '548.000 euro', '398.000 euro']),
 ('Arvid  Glerum',
  '3513 EX, 476',
  ['174.000 euro', '165.000 euro', '160.000 euro']),
 ('Julia  Nowee',
  '1057 VS, 76',
  ['412.000 euro', '307.500 euro', '262.500 euro']),
 ('Sophie  Dijkkamp',
  '1062 CG, 26',
  ['150.500 euro', '128.500 euro', '29.500 euro']),
 ('Joppe  Smit',
  '1013 TM, 179',
  ['484.000 euro', '441.000 euro', '378.500 euro']),
 ('Gitta  Tiggelman',
  '7351 AA, 14',
  ['375.000 euro', '351.000 euro', '316.000 euro']),
 ('Thom  Jacobsen',
  '1057 AZ, 185 I',
  ['375.000 euro', '351.000 euro', '316.000 euro']),
 ('Frank  Rutgers',
  '1401 RV, 7',
  ['643.000 euro', '627.000 euro', '591.000 euro']),
 ('Boy  Knoef',
  '1095 TE, 124 A',
  ['643.000 euro', '627.000 euro', '591.000 euro']),
 ('Barbara  Snieders',
  '1058 CL, 75-2',
  ['313.000 euro', '262.500 euro', '217.500 euro']),
 ('Maarten  van der Steen',
  '1019 RA, 879',
  ['439.000 euro', '381.000 euro', '343.000 euro']),
 ('Bart  ter Horst',
  '1211 KW, 14',
  ['347.000 euro', '342.000 euro', '330.000 euro']),
 ('Rozan  Gilles',
  '3552 XE, 373',
  ['222.000 euro', '194.000 euro', '176.000 euro']),
 ('Henk  Douwes',
  '2548 SP, 159',
  ['516.000 euro', '480.000 euro', '449.000 euro']),
 ('Walter  Kien',
  '3319 AP, 159',
  ['270.000 euro', '240.000 euro', '230.000 euro']),
 ('Stijn  Kroonen',
  '3817 SZ, 33',
  ['682.000 euro', '634.000 euro', '642.000 euro']),
 ('Ruud  Schoenmakers',
  '1075 SW, 52 hs',
  ['682.000 euro', '634.000 euro', '642.000 euro']),
 ('Ronald  Tamboer',
  '3711 BZ, 7',
  ['670.000 euro', '649.000 euro', '617.000 euro']),
 ('Robin  van Wankum',
  '3731 JA, 21',
  ['645.000 euro', '623.000 euro', '523.000 euro']),
 ('Robert  Spieker',
  '1077 RJ, 30 HS',
  ['645.000 euro', '623.000 euro', '523.000 euro']),
 ('Renaldo  Haurissa',
  '3437 DK, 32',
  ['269.000 euro', '251.000 euro', '233.000 euro']),
 ('Peter  Hardy',
  '1075 RW, 43167',
  ['269.000 euro', '251.000 euro', '233.000 euro']),
 ('Patrick  Newland',
  '3543 EN, 95',
  ['291.000 euro', '254.000 euro', '269.000 euro']),
 ('Martijn  Hogenelst',
  '1213 SJ, 12',
  ['291.000 euro', '254.000 euro', '269.000 euro']),
 ('Marcel  Krekelberg',
  '3452 BD, 19',
  ['271.000 euro', '235.000 euro', '228.000 euro']),
 ('Marcel  H√§lsig',
  '3553 TA, 5',
  ['209.000 euro', '194.000 euro', '165.000 euro']),
 ('Laura  Schreuder',
  '3446 ZT, 46',
  ['235.000 euro', '221.000 euro', '212.000 euro']),
 ('Josefine  Tesser',
  '3446 JL, 3',
  ['235.000 euro', '221.000 euro', '212.000 euro']),
 ('Johan  Makkinga',
  '3708 GC, 57B',
  ['726.000 euro', '693.000 euro', '685.000 euro']),
 ('Jasper  van Rijn',
  '3533 HZ, 19',
  ['626.000 euro', '375.000 euro', '68.000 euro']),
 ('Jan Pieter van der Helm',
  '2025 ZB, 71',
  ['445.000 euro', '390.000 euro', '327.000 euro']),
 ('Jan  van Hasenbroek',
  '2242 PL, 6',
  ['2.733.000 euro', '2.649.000 euro', '2.588.000 euro']),
 ('Jan  Berkvens',
  '4927 RJ, 20',
  ['2.733.000 euro', '2.649.000 euro', '2.588.000 euro']),
 ('Jaap  Hoekman', '1154 PS, 33', []),
 ('Hugo  van Vledder',
  '3401 NZ, 116b',
  ['494.000 euro', '479.000 euro', '490.000 euro']),
 ('Hanny  Kastelein',
  '3465 JJ, 24',
  ['494.000 euro', '479.000 euro', '490.000 euro']),
 ('Freek  Jansen',
  '6813 HA, 9',
  ['445.000 euro', '425.000 euro', '411.000 euro']),
 ('Frans  Liem',
  '1405 BK, 1',
  ['445.000 euro', '425.000 euro', '411.000 euro']),
 ('Frans  Kneefel',
  '3446 DH, 5',
  ['476.000 euro', '436.000 euro', '429.000 euro']),
 ('Floris  Limburg',
  '2989 AR, 342',
  ['252.000 euro', '257.000 euro', '256.000 euro']),
 ('Egbert  Baarsma',
  '6822 NA, 33',
  ['574.000 euro', '542.000 euro', '536.000 euro']),
 ('Chris  van Winden',
  '2741 KM, 12',
  ['686.000 euro', '638.000 euro', '672.000 euro']),
 ('Carsten  Treur', '5616 VD, 143-329', ['114.000 euro']),
 ('Bob  van Opstal',
  '1018 MZ, 148',
  ['321.000 euro', '244.000 euro', '216.500 euro']),
 ('Bas  de Jong',
  '3971 CR, 21',
  ['321.000 euro', '244.000 euro', '216.500 euro']),
 ('Bart  van Sambeek',
  '3442 HA, 5',
  ['211.000 euro', '219.000 euro', '213.000 euro']),
 ('Cris  Meijer',
  '1191 PC, 23',
  ['398.000 euro', '369.000 euro', '312.000 euro'])]

In [26]:
type(uitwaarden)

list

In [28]:
dfWOZ = pd.DataFrame.from_dict(uitwaarden)

In [29]:
dfWOZ

,0,1,2
0,Emma Hers√©e,"1055 NC, 378 III",[]
1,Joren Kreuzberg,"1072 EG, 129H","[332.000 euro, 284.500 euro, 231.000 euro]"
2,Nanda Pluijter,"1059 VV, 5/hs","[332.000 euro, 284.500 euro, 231.000 euro]"
3,Paul Langelaan,"2353 VC, 19","[261.000 euro, 241.000 euro, 238.000 euro]"
4,Marijn Lansink,"1055 CJ, 58-2","[272.000 euro, 239.500 euro, 171.500 euro]"
5,Reanne Richter,"3531 HT, 3","[272.000 euro, 239.500 euro, 171.500 euro]"
6,Jenneke Bijpost,"2628 XZ, 132","[272.000 euro, 239.500 euro, 171.500 euro]"
7,Emile Kragten,"3553 RC, 4 bis","[143.000 euro, 141.000 euro, 126.000 euro]"
8,Ron Evers,"6862 ZG, 6A","[526.000 euro, 497.000 euro, 490.000 euro]"
9,Angelique Buist,"2132 NZ, 55","[383.000 euro, 305.000 euro, 300.000 euro]"
10,Jochem Jansen,"1057 JS, 43128","[383.000 euro, 305.000 euro, 300.000 euro]"
11,Beppie Muller,"3448 JS, 10","[253.000 euro, 254.000 euro, 248.000 euro]"
12,Ramon Bettings,"1102 SC, 260","[128.000 euro, 94.500 euro, 98.500 euro]"
13,Liselotte Siteur,"3818 VB, 55","[715.000 euro, 609.000 euro, 579.000 euro]"
14,Mark Boerekamp,"1215 JN, 61","[779.000 euro, 765.000 euro, 746.000 euro]"
15,Aram Griens,"3011 HB, 81C","[162.000 euro, 159.000 euro, 157.000 euro]"
16,Andre Ribeiro,"1058 GD, 53","[408.000 euro, 346.000 euro]"
17,Joost Petit,"3734 JH, 29","[511.000 euro, 515.000 euro, 451.000 euro]"
18,Michiel van der Werf,"1079 BS, 69-HS","[511.000 euro, 515.000 euro, 451.000 euro]"
19,Nicole Wolzak,"3604 BE, 35","[539.000 euro, 489.000 euro, 506.000 euro]"
20,Iris Snuverink,"2522 NH, 104","[539.000 euro, 489.000 euro, 506.000 euro]"
21,Eelke Visser,"3521 DA, 9","[307.000 euro, 301.000 euro, 260.000 euro]"
22,Jeroen Twigt,"2811 SP, 13","[454.000 euro, 402.000 euro, 403.000 euro]"
23,Alexander Klaver,"1011 HS, 47 hs","[454.000 euro, 402.000 euro, 403.000 euro]"
24,Berdine Heesterman,"3512 PS, 14","[454.000 euro, 402.000 euro, 403.000 euro]"
25,Rinke Klein Entink,"2391 EG, 3","[325.000 euro, 315.000 euro, 311.000 euro]"
26,Perry Hansler,"2312 NV, 28","[102.000 euro, 98.000 euro, 93.000 euro]"
27,Maartje van 't Riet,"3572 EJ, 3","[102.000 euro, 98.000 euro, 93.000 euro]"
28,Michelle Bentlage,"1079 JV, 176-2","[295.000 euro, 236.000 euro, 211.500 euro]"
29,Tobias Platenburg,"1091 NC, 24","[357.000 euro, 323.000 euro, 269.000 euro]"
...,...,...,...
98,Ronald Tamboer,"3711 BZ, 7","[670.000 euro, 649.000 euro, 617.000 euro]"
99,Robin van Wankum,"3731 JA, 21","[645.000 euro, 623.000 euro, 523.000 euro]"
100,Robert Spieker,"1077 RJ, 30 HS","[645.000 euro, 623.000 euro, 523.000 euro]"
101,Renaldo Haurissa,"3437 DK, 32","[269.000 euro, 251.000 euro, 233.000 euro]"
102,Peter Hardy,"1075 RW, 43167","[269.000 euro, 251.000 euro, 233.000 euro]"
103,Patrick Newland,"3543 EN, 95","[291.000 euro, 254.000 euro, 269.000 euro]"
104,Martijn Hogenelst,"1213 SJ, 12","[291.000 euro, 254.000 euro, 269.000 euro]"
105,Marcel Krekelberg,"3452 BD, 19","[271.000 euro, 235.000 euro, 228.000 euro]"
106,Marcel H√§lsig,"3553 TA, 5","[209.000 euro, 194.000 euro, 165.000 euro]"
107,Laura Schreuder,"3446 ZT, 46","[235.000 euro, 221.000 euro, 212.000 euro]"
108,Josefine Tesser,"3446 JL, 3","[235.000 euro, 221.000 euro, 212.000 euro]"
109,Johan Makkinga,"3708 GC, 57B","[726.000 euro, 693.000 euro, 685.000 euro]"
110,Jasper van Rijn,"3533 HZ, 19","[626.000 euro, 375.000 euro, 68.000 euro]"
111,Jan Pieter van der Helm,"2025 ZB, 71","[445.000 euro, 390.000 euro, 327.000 euro]"
112,Jan van Hasenbroek,"2242 PL, 6","[2.733.000 euro, 2.649.000 euro, 2.588.000 euro]"
113,Jan Berkvens,"4927 RJ, 20","[2.733.000 euro, 2.649.000 euro, 2.588.000 euro]"
114,Jaap Hoekman,"1154 PS, 33",[]
115,Hugo van Vledder,"3401 NZ, 116b","[494.000 euro, 479.000 euro, 490.000 euro]"
116,Hanny Kastelein,"3465 JJ, 24","[494.000 euro, 479.000 euro, 490.000 euro]"
117,Freek Jansen,"6813 HA, 9","[445.000 euro, 425.000 euro, 411.000 euro]"
118,Frans Liem,"1405 BK, 1","[445.000 euro, 425.000 euro, 411.000 euro]"
119,Frans Kneefel,"3446 DH, 5","[476.000 euro, 436.000 euro, 429.000 euro]"
120,Floris Limburg,"2989 AR, 342","[252.000 euro, 257.000 euro, 256.000 euro]"
121,Egbert Baarsma,"6822 NA, 33","[574.000 euro, 542.000 euro, 536.000 euro]"
122,Chris van Winden,"2741 KM, 12","[686.000 euro, 638.000 euro, 672.000 euro]"
123,Carsten Treur,"5616 VD, 143-329",[114.000 euro]
124,Bob van Opstal,"1018 MZ, 148","[321.000 euro, 244.000 euro, 216.500 euro]"
125,Bas de Jong,"3971 CR, 21","[321.000 euro, 244.000 euro, 216.500 euro]"
126,Bart van Sambeek,"3442 HA, 5","[211.000 euro, 219.000 euro, 213.000 euro]"
127,Cris Meijer,"1191 PC, 23","[398.000 euro, 369.000 euro, 312.000 euro]"

In [31]:
dfWOZ.to_excel('uitwaarden.xlsx')